#root {
  margin: 0 auto;
  padding:0 auto;
  text-align: center;
}

.monoton-regular {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.julius-sans-one-regular {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.Navbar{
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0%;
  z-index: 10;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 2rem;
  opacity:0.9;
  font-family: "Monoton", sans-serif;
  font-weight: 400;
}

.logo{
  font-size: 250%;
  opacity: 1;
  width: 30%;
  display: flex;
  justify-content: start;
}

.Navbar-menu{
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.Navbar-items{
  font-size: 150%;
  width: 30%;
  gap: 3rem;
  display: flex;
  justify-content: end;
  align-items: center;
  opacity: 1;
}

.Navbar-items span{
  padding: 0.5rem;
}