#root {
  margin: 0 auto;
  padding:0 auto;
  text-align: center;
  background-color: #111827;
  height: 100%;
}

.monoton-regular {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.julius-sans-one-regular {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(236, 72, 153);
}

.playfair-display-500 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.camera{
  color: #db2777;
  font-size: 1000%;
  width:10px;
  height: 10px;
}

.Navbar{
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 2rem;
  opacity:0.9;
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  color:#111827;
}

.logo{
  font-size: 250%;
  opacity: 1;
  width: 30%;
  display: flex;
  justify-content: start;
  color: #db2777;
  text-shadow:0 0 3px #db2777;
}

.Navbar-menu{
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.Navbar-items{
  font-family: "Monoton", sans-serif;
  font-weight: 900;
  font-size: 150%;
  color: #db2777;
  width: 30%;
  gap: 3rem;
  display: flex;
  justify-content: end;
  align-items: center;
  opacity: 1;
}

.Navbar-items div:hover{
 scale: 1.1;
}

.active{
  border-bottom: 2px solid gold;
}

.logoactive{

}

.home-Container{
  height: 100%;
}

.arrow{
  position: absolute;
  top: 33.333333%;
  bottom: 33.333333%;
  padding: 1.25rem;
  font-size: 150%;
  color: #db2777;
  text-shadow:2px 2px 3px black;
}

.banner{
  height: 50vh;
  width: 70%;
  display: flex;
  justify-content: center;
  position: relative;
}

.bannerBox{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  background-size: cover;
  background-position: center;
}

.bannerBoxText{
  width: 100%;
  text-align: center;
  font-size: 300%;
  color: white;
  font-family: "Playfair Display", serif;
  text-shadow:2px 2px 3px black;
}

.movies-Container{
  height: 50%;
}

.movies-title{
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 250%;
  color: #db2777;
}

.movieCard{
  width: 200px;
  height: 30vh;
  border-radius: 0.75rem;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.movieCard:hover{
  scale: 1.1;
  animation-duration: 300ms;
}

.movieCardIcon{
  color: #db2777;
  padding: 0.5rem;
  font-size: 150%;
}

.movieCardIcon:hover{
  cursor: pointer;
  scale: 1.5;
}

.pagination-Container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111827;
  color: #db2777;
  font-size: 200%;
  border-radius: 0.75rem;
  padding: 1rem; 
  margin-top: 2rem; 
  gap: 1rem; 
}

.pagination-Container-Icons{
  font-size: 80%;
}

.pagination-Container-Icons:disabled{
  color: grey;
}

.pagination-Container-Icons:disabled:hover{
  scale: 1;
}

.pagination-Container-Icons:hover{
  cursor: pointer;
  scale: 1.4;
  animation-duration: 300ms;
}

.topTen-container{
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #111827;
  height: 80vh;
}

.topTen-container-box{
  width: 80%;
  height: 70%;
}

.dim{
  opacity:0.5;
}

.topTen-container-card{
  height: 100%;
  position: relative;
  display: flex;
  align-items: end;
}

.topTen-container-card-span{
  color: gold;
  font-family: "Monoton", sans-serif;
  font-size: 900%;
  position: absolute;
  top: -10%;
  text-shadow:4px 2px 3px black;
}

.topTen-container-card-span-div{
  height: 85%;
  width: 300px;
  background-size: cover;
  background-position: center;
}

.topten-watchlist-button{
  font-size: 200%;
  position: absolute;
  top: 20%;
  right: 5%;
  color: #db2777;
}

.topTen-modal-container .ant-modal-content{
  background-color: #111827;
}

.topTen-modal-container .ant-modal-close{
  color: white;
}

.topTen-Modal-Title{
  color: gold;
  font-size: 150%;
  background-color: #111827;
}

.topTen-Modal-actions{
  color: gold;
}

.topTen-Modal-actions:disabled{
  color:lightgray;
}

.watchlist-Container{
  background-color:#111827;
  width: 100vw;
  display: flex;
  justify-content: center;
  height: fit-content;
}

.watchlist-Table .ant-table-container{
  width: 70vw;
}

.watchlist-Table .ant-table-thead > tr > th::before {
  content: none !important;
}

.watchlist-Table .ant-table-cell {
  font-size: 100%;
}

.watchlist-Table .ant-table-thead > tr > th {
  font-size: 150%;
}

.watchlist-thumbnail{
  height:100px;
  width:auto;
}

.watchlist-rating{
  font-family: "Julius Sans One", sans-serif;
}

.watchlist-button{
  color: #db2777;
  padding: 0.5rem;
  font-size: 200%;
}

.removeWatchlistPopover{
  color: #db2777;
}

.projector-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333;
  color: white;
  flex-direction: column;
}

.projector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.wheel {
  width: 60px;
  height: 60px;
  border: 10px solid #fff;
  border-radius: 50%;
  position: relative;
  animation: wheel-spin 4s linear infinite;
}

.wheel-left {
  animation-delay: 0.5s; /* Slight delay for left wheel */
}

.wheel-right {
  animation-delay: 0.5s; /* Slight delay for right wheel */
}

.reel {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid #ffb600;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  animation: reel-spin 4s linear infinite;
}

.content {
  opacity: 0;
  animation: fadeIn 3s forwards;
  text-align: center;
}

@keyframes wheel-spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes reel-spin {
  100% {
    transform: rotate(720deg); /* Faster reel rotation */
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media (orientation: portrait) {
  .banner{
    height: 30vh;
    width: 90%;
  }

  .bannerBoxText{
    font-size: 200%;
  }

  .movies-title{
    font-size: 200%;
  }

  .pagination-Container{
    font-size: 100%;
  }
}