#root {
  margin: 0 auto;
  padding:0 auto;
  text-align: center;
  background-color: #212121;
  height: 100vh;
}
.baloo-2-700 {
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.monoton-regular {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.julius-sans-one-regular {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(236, 72, 153);
}

.playfair-display-500 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.camera{
  color: #db2777;
  font-size: 1000%;
  width:10px;
  height: 10px;
}

.Navbar{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 35vh;
  padding: 20px;
  gap: 2rem;
  opacity:0.9;
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  background-color: #db2777;
  position: relative;
  z-index: 2;
}

.Navbar::after{
  content: "";
  position: absolute;
  bottom: -20%;
  left: 0;
  width: 100%;
  height: 25vh; /* Adjust height for curve */
  background-color: #212121;
  border-radius: 50% 50% 0 0; /* Creates the semi-circle */
  z-index:1;
}

.logo{
  font-size: 200%;
  opacity: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  color: gold;

}

.Navbar-menu{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.Navbar-items{
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
  font-size: 125%;
  color: white;
  width: 50%;
  gap: 3rem;
  display: flex;
  justify-content: center;
  align-items: start;
  opacity: 1;
}

.Navbar-items div:hover{
 scale: 1.1;
}

.active{
  border-bottom: 2px solid gold;
}

.home-Container{
  width: 100%;
  position: absolute;
  top:25%;
  z-index: 5;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  background-color: #212121;
  height: fit-content;
}

.arrow{
  position: absolute;
  top: 33.333333%;
  bottom: 33.333333%;
  padding: 1.25rem;
  font-size: 150%;
  color: gold;
  text-shadow:2px 2px 3px black;
}

.banner{
  height: 50vh;
  width: 70%;
  display: flex;
  justify-content: center;
  position: relative;
}

.bannerBox{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  background-size: cover;
  background-position: center;

}

.bannerBoxText{
  width: 100%;
  text-align: center;
  font-size: 300%;
  color: white;
  font-family: "Baloo 2", sans-serif;
  text-shadow:2px 2px 3px black;
}

.movies-Container{
  height: 50%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movies-title{
  font-family: "Baloo 2", sans-serif;
  font-weight: 900;
  font-size: 250%;
  color: #db2777;
  text-align: center;
  margin: 1rem;
}

.movies-Container-box{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap:2rem;
}

.movieCard{
  width: 12vw;
  height: 30vh;
  border-radius: 0.75rem;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  opacity: 0.8;
}

.movieCard:hover{
  scale: 1.1;
  animation-duration: 300ms;
  
}

.movieCardIcon{
  color: gold;
  padding: 0.5rem;
  font-size: 150%;
}

.movieCardIcon:hover{
  cursor: pointer;
  scale: 1.5;
}

.pagination-Container{
  font-family: "Baloo 2", sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  color: #db2777;
  font-size: 200%;
  border-radius: 0.75rem;
  padding: 1rem; 
  margin-top: 2rem; 
  gap: 1rem; 
}

.pagination-Container-Icons{
  font-size: 80%;
}

.pagination-Container-Icons:disabled{
  color: grey;
}

.pagination-Container-Icons:disabled:hover{
  scale: 1;
}

.pagination-Container-Icons:hover{
  cursor: pointer;
  scale: 1.4;
  animation-duration: 300ms;
}

.topTen-container{
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #212121;
  height: 78.5vh;
  position: absolute;
  top:20%;
  z-index: 5;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.topTen-container-box{
  width: 70%;
  height: 70%;
  display: flex;
  gap: 2rem;
  position: relative;
  overflow-x: hidden;
}

.topTen-container-box-portrait{
  display: none;
}

.dim{
  opacity:0.5;
}

.left-btn{
  color: gold;
  position: absolute;
  bottom: 40%;
  font-size: 200%;
  z-index: 10;
  left:1%;
  opacity: 0.9;
}

.right-btn{
  color: gold;
  position: absolute;
  bottom: 40%;
  font-size: 200%;
  z-index: 10;
  right: 1%;
  opacity: 0.9;
}

.topTen-container-card{
  height: 100%;
  width: 20%;
  position: relative;
  display: flex;
  align-items: end;
}

.topTen-container-card-span-div{
  height: 85%;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.topTen-container-card-span{
  color: gold;
  font-family: "Monoton", sans-serif;
  font-size: 400%;
  text-shadow:4px 2px 3px black;
  position: absolute;
  top: -15%;
  left: 0%;
}

.topten-watchlist-button{
  font-size: 200%;
  color: #db2777;
  position: absolute;
  right: 5%;
  top: 5%;
}

.topTen-container-card-titlespan{
  color: gold;
  font-family: "Baloo 2", sans-serif;
  font-weight: 500;
  font-size: 125%;
  text-shadow:4px 2px 3px black;
  position: absolute;
  bottom: 5%;
  width: 100%;
  left: 0%;
}

.topTen-modal-container .ant-modal-content{
  background-color: #212121;
}

.topTen-modal-container .ant-modal-close{
  color: white;
}

.topTen-Modal-Title{
  color: gold;
  font-size: 150%;
  background-color: #212121;
}

.topTen-Modal-actions{
  color: gold;
}

.topTen-Modal-actions:disabled{
  color:lightgray;
}

.watchlist-Container{
  background-color:#212121;
  width: 100%;
  display: flex;
  justify-content: center;
  height: fit-content;
  position: absolute;
  z-index: 20;
  top: 30%;
}

.watchlist-Table .ant-table-container{
  width: 70vw;
}

.watchlist-Table .ant-table-thead > tr > th::before {
  content: none !important;
}

.watchlist-Table .ant-table-cell {
  font-size: 100%;
}

.watchlist-Table .ant-table-thead > tr > th {
  font-size: 150%;
}

.watchlist-Table .ant-empty-description {
  color: white;          /* Change font color */
  text-align: center;      /* Center-align the text */
  padding: 20px;           /* Add padding around the text */
  border-radius: 8px;      /* Optional: Add border radius */
  font-family: "Baloo 2", sans-serif;
}

.watchlist-thumbnail{
  height:100px;
  width:auto;
}

.watchlist-rating{
  font-family: "Julius Sans One", sans-serif;
}

.watchlist-button{
  color: #db2777;
  padding: 0.5rem;
  font-size: 200%;
}

.removeWatchlistPopover{
  color: #db2777;
}

@media (orientation: portrait) {

  .Navbar-items{
    font-size: 100%;
    width: 100%;
  }
  .banner{
    height: 30vh;
    width: 90%;
  }

  .bannerBoxText{
    font-size: 200%;
  }

  .movies-title{
    font-size: 200%;
  }

  .movieCard{
    width:30vw;
    height:20vh;
  }

  .pagination-Container{
    font-size: 100%;
  }

  .topTen-container-box{
    display: none;
  }
  .topTen-container{
    height: fit-content;
  }

  .topTen-container-box-portrait{
    width: 70%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    position: relative;
    overflow-x: hidden;
    padding-bottom: 2rem;
  }

  .topTen-container-card{
    height: 30vh;
    width: 70%;
  }

  .topten-watchlist-button{
    font-size: 150%;
  }

  .watchlist-Table .ant-table-thead > tr > th {
    font-size: 100%;
  }

}